.App {
  text-align: center;
  height: 100vh;
}

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  height: calc(100% - 10vh);
  background-color: beige;
  padding-top: 10rem;
}

.button {
  display: inline-block;
  border: 1px solid #282c34;
  width: 50px;
  background-color: darkslategray;
  color: wheat;
  margin-left: 5px;
  cursor: pointer;
}

input {
  height: 18px;
  font: 1em/1.25em Arial, Helvetica, sans-serif;
}

.result {
  margin-top: 15px;
  font-size: 2rem;
  text-decoration: double;
}
